@use "../abstract" as *;
@use "../base" as *;
@use "../component" as *;
@use "../layout" as *;
@use "../vendor" as *;

body
{
    background-color: $clr-dark;
}

.header
{
   &__wrapper
   {
    img
    {
        @include respondTo(smartphone)
        {
            width: 70%;
           
        }
          
    }
   }
}


.banner
{
    img
    {
        width: 100%;
        height: 100%;
        margin-left: 5rem;

     @include respondTo(smartphone)
     {
        margin-left: 0;
        
        }
        
    }
}

.services
{
    
    margin-top: 3rem;
    margin-left: 10rem;

    @include respondTo(smartphone)
    {
       margin-left: 0;
       
       }

    &__wrapper
    {

    @include flex(space-around, center);
     background: $clr-light-dark; 

     @include respondTo(smartphone)
    {
        @include grid(1);
        place-items: center;
    }
     .card
          {        
            padding: 5rem 3rem;
            text-align: center;
            h3
            {
                text-transform: uppercase;
                
            }
            h3:after
            {
                content: "";
                display: block;
                padding-top: 3rem;
                border-bottom: 5px solid gray;
                opacity: .3;
            }

            h3,p,button
            {
                font-family: "Ubuntu Condensed", sans-serif;
            }
            p
            {
                white-space: wrap;
                margin-bottom: 4rem;
                font-size: 1.4rem;
            }

            i 
            {
                color:$clr-light;
                padding: 1rem 0;
                font-size: 7rem;
                margin-bottom: 3rem;
            }

            button
            {
                background-color: $clr-accent;
                border: none;
                padding: 2rem 3rem;
                color: $clr-light;
                text-transform: uppercase;
                font-size: 1.8rem;
                font-weight: bold;

            }
        }
    }
  
}

.ImageService
{
    margin-left: 10rem;
    margin-top: 3rem;

    @include respondTo(smartphone)
    {
       margin-left: 0;
       
       }

    &__wrapper
    {
        padding: 5rem 5rem;
        background-color: $clr-accent;
    }

    &__header
    {
        h4
        {
            font-size: 5rem;
        }
        h4::after
        {
            content: "";
                display: block;
                border-bottom: 2px solid $clr-light;
                opacity: .3;
        }
    }

}


.WhatWeDo
{
    margin-left: 10rem;
    margin-top: 3rem;

    @include respondTo(smartphone)
    {
       margin-left: 0;
       
       }

    &__wrapper
    {
        background-color: #fff;
        padding: 5rem 5rem;
        @include grid(2);
        gap: 3rem;   

        @include respondTo(smartphone)
        {
            @include grid(1);
        }
       
        h4,p
        {
            color: $clr-dark;
            font-family: "Ubuntu Condensed", sans-serif;
        }

        ul li:nth-child(1)
        {
            margin-top: 5rem;
        }

        h4
            {
                font-size: 3.5rem;
                text-transform: uppercase;
            }
            h4:after
            {
                content: "";
                display: block;
                border-bottom: 2px solid gray;
                opacity: .3;
            }
        
        .text__left
        {
            p
            {
                text-wrap: balance;
            }

            ul li:nth-child(1)::after
            {
                display: block;
                content: "";
                border-bottom: 1px solid gray;
                opacity: .4;
            }

        }


            .text__right
        {
            p
            {
                text-wrap: wrap ;
            }

            ul li:nth-child(2)
            {
              color: $clr-accent;
              padding-bottom: 2rem;
            }
            ul li:nth-child(2)::before
            {
                content: "";
                display: block;
                border-top: 1px solid gray;
                opacity: .4;
            }

            ul li:nth-child(2)::after
            {
                content: "";
                display: block;
                border-top: 1px solid gray;
                border-bottom: 1px solid gray;
                opacity: .4;
            }

           
        }
    }
}

.cta
{
    margin-left: 10rem;
    margin-top: 3rem;

    @include respondTo(smartphone)
    {
       margin-left: 0;
       
       }

   
    &__wrapper
    {
        background: $clr-light-dark; 
        padding: 5rem 5rem;
        
        h2
        {
            font-size: 10rem;
            font-family: "Ubuntu Condensed", sans-serif;

            @include respondTo(smartphone)
            {
                font-size: 3rem;
            }
        
        }

        button
        {
            background-color: $clr-accent;
                border: none;
                padding: 2rem 3rem;
                color: $clr-light;
                text-transform: uppercase;
                font-size: 1.8rem;
                font-weight: bold;

                @include respondTo(smartphone)
                {
                    font-size: 1rem;
                }
        }

        i
        {
            color: $clr-light;
            font-size: 5rem;
        }

        div
        {
            display: flex;
            gap: 3rem;
        }
    }
}

.footer
{
    margin-left: 10rem;
    margin-top: 3rem;
    margin-bottom: 3rem;

    @include respondTo(smartphone)
    {
       margin-left: 0;
       
       }
    &__wrapper
    {
        @include flex(space-between);
        
        @include respondTo(smartphone)
        {
            @include grid(1);
            
        }

        .socials
        {
            padding: 3rem 5rem;

            small
            {
                color: $clr-light;
            }

            ul
            {
               display: flex;
               gap: 2rem;
    
                li
                {
                    i
                    {
                    
                        color: $clr-light;
                        margin-top: 5rem;
                    }
                }
            }
        }

        .address
        {
            padding: 3rem 5rem;
           
            p
            {
                font-size: 1.3rem;
                color: $clr-light;
            }
            
            p:last-child
            {
                margin-top: 3rem;
            }
        }

        
        iframe
        {
            @include respondTo(smartphone)
            {
                width: 90%;
                margin: 0 auto;
            }
        }
       
    }
}