:root {
    --light : #fff;
    --dark : #343438;
    --light-dark: #3e3e43; 
    --accent : #F9555C;
    --yellow : #f9b35a;
}


$clr-light: var(--light);
$clr-dark: var(--dark);
$clr-light-dark: var(--light-dark);
$clr-accent: var(--accent);
$clr-yellow: var(--yellow);

$smartphone: 480px;
$tabletPortrait: 767px;
$tabletLandscape: 1024px;
$desktop: 1174px;
$largeScreen: 1400px;

@mixin respondTo($media) {
  @if $media == smartphone {
    @media (max-width: $smartphone) { @content; }
  }
  @else if $media == tablet {
    @media (min-width: $tabletPortrait) and (max-width: $tabletLandscape) { @content; }
  }
  @else if $media == smallScreen {
    @media (max-width: $desktop) { @content; }
  }
  @else if $media == desktop {
    @media (min-width: $desktop) { @content; }
  }
}


